@import "@/styles/functions.scss";

.review {
    display: flex;
    align-items: center;
    &__count {
        margin-left: 5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #999999;
        width: fit-content;
        text-decoration: underline;
    }
}